.fa-magnifying-glass:hover,
.fa-user:hover {
    transform: scale(1.1);
}
.fa-magnifying-glass,
.fa-user {
    transition: transform 0.2s ease;
    color: #76b852;
}

.nav-link.active-link {
    position: relative;
    font-weight: 600;
}

.nav-link.active-link::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #198754; /* نفس لون Bootstrap success */
}
